.base-btn {
    min-height: 38px;
    border-radius: 8px;
    background: none;
    width: 180px;
    padding: 12px 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &.w-full {
      width: 100%;
      transition: width 400ms ease-in-out;
    }
    border: none;
    background-color: #611f69;
  }